
body {
  margin: 0;
  text-align: center;
  background-color: #011F3F;
  background: rgb(186,172,172);
  background: linear-gradient(90deg, rgba(186,172,172,1) 0%, rgba(227,227,227,0.6250875350140056) 49%, rgba(150,180,181,1) 100%);
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 80px;
}

.display-block {
  display: block;
}

.about-game {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6f42c1;
  padding: 10px 20px;
  box-shadow: 0 8px 6px -6px black;
  box-shadow: 0px 4px 44px rgba(0,0,0,0.08);
}

.brand {
  display: inline-block;
  text-shadow: 2px 2px #adb5bd;
  font-family: 'Lilita One', fantasy;
  font-size: 1.6em;
  color: white;
}

.nav-item {
  border: none;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #adb5bd;
  text-decoration: none;
  font-weight: bold;
}

.nav-item:hover {
  color: #F2F013;
}

.brand:hover {
  color: #adb5bd;
  text-shadow: none;
}

.main {
  margin: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  color: #FEF2BF;
  color: white;
}

.header-animation {
  position: relative;
  padding: 0.2em;
  background-color: #6f42c1;
  border-radius: 0.4em;
  border: 2px solid white;
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: 2;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1.1);
  }
}

.left-container {
  width: 30rem;
  margin-bottom: 2em;
}

.left-container-buttons {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.left-btn {
  font-family: 'Lilita One', fantasy;
  font-size: 1.8em;
  color: white;
  border-radius: 0.4em;
  border: 2px solid white;
  background-color: #6f42c1;
  padding: 8px 23px;
}

.left-btn:hover {
  border-color: #adb5bd;
  color: #adb5bd;
  box-shadow: 5px 5px 5px 5px black;
}
.right-container {
  width: 40rem;
}

.row {
  display: block;
}

.btn {
  display: inline-block;
  height: 12.5em;
  width: 12.5em;
  border: 0.6em solid black;
  box-shadow: 5px 5px 5px 5px black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  border-top-right-radius: 100%;
  background-color: red;
}

.green {
  border-top-left-radius: 100%;
  background-color: green;
}

.blue {
  border-bottom-right-radius: 100%;
  background-color: blue;
}

.yellow {
  border-bottom-left-radius: 100%;
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.about-list {
  font-size: 1.3em;
  text-align: left;
  line-height: 2em;
}

.bottom-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  background-color: #6f42c1;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #adb5bd;
  font-weight: bold;
}

a:hover {
  color: #F2F013;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

@media only screen and (max-device-width: 500px){
  .btn {
    height: 25em;
    width: 25em;
    border: 1.2em solid black;
  }

  .right-container {
    margin-top: 80px;
    width: 100%;
  }

  .left-container {
    width: 100%;
  }

  .brand {
    font-size: 3em;
  }

  .nav-item {
    font-size: 1.7em;
  }

  .main {
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
  }

  .header-animation {
    width: 80%;
    margin: auto;
  }

  .left-btn {
    font-size: 3em;
  }

  .bottom-container {
    font-size: 1.7em;
  }

}

